.online-content-part {
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE/Edge */
}

.online-content-part::-webkit-scrollbar {
  display: none;              /* Chrome, Safari */
}

.song-list {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.song-list::-webkit-scrollbar {
  display: none;
}


