.sidebar-container
{
    height: 100%;
    width: 100px;
    display: flex;
flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.app-icon
{
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}